SYSCONFIG COMPRESS_CONFIG=ON;

LOCATE COMP "mck_i" SITE "B1";
IOBUF PORT "mck_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "mck_i" 24 MHZ;

LOCATE COMP "lrck_i" SITE "C2";
IOBUF PORT "lrck_i" IO_TYPE=LVCMOS33;

LOCATE COMP "bck_i" SITE "C1";
IOBUF PORT "bck_i" IO_TYPE=LVCMOS33; 

LOCATE COMP "data_i" SITE "D1";
IOBUF PORT "data_i" IO_TYPE=LVCMOS33;

LOCATE COMP "rst_i" SITE "R7";
IOBUF PORT "rst_i" PULLMODE=UP IO_TYPE=LVCMOS33;

##--
LOCATE COMP "mck_o" SITE "M4";
IOBUF PORT "mck_o" IO_TYPE=LVCMOS33;

LOCATE COMP "lrck_o" SITE "M3";
IOBUF PORT "lrck_o" IO_TYPE=LVCMOS33;

LOCATE COMP "bck_o" SITE "P3";
IOBUF PORT "bck_i" IO_TYPE=LVCMOS33;

LOCATE COMP "data_o" SITE "N5";
IOBUF PORT "data_o" IO_TYPE=LVCMOS33;

##--
LOCATE COMP "sclk" SITE "N1";
IOBUF PORT "sclk" IO_TYPE=LVCMOS33;

LOCATE COMP "sync" SITE "P4";
IOBUF PORT "sync" IO_TYPE=LVCMOS33;

LOCATE COMP "sdo" SITE "N3";
IOBUF PORT "sdo" IO_TYPE=LVCMOS33;
